body{
    background-color: rgb(230, 230, 230);
}
.tools-bar{
    display: flex;
}
.menu{
    border-radius: 50px;
    background-color: white;
    border: none;
    width: 45px;
    height: 40px;
    box-shadow: 1px 2px 4px 2px rgb(188, 188, 188);
    position: absolute;
    left: 2rem;
    top: 2rem;
}
.title{
    color: rgb(117, 117, 117);
    font-size: 20px;
    position: absolute;
    left: 6rem; 
    top: 1.5rem;
}
.search{
    border: none;
    border-bottom: 2px solid grey;
    background-color: rgb(230, 230, 230);
    position: absolute;
    top: 2rem;
    right: 14rem;
    height: 30px;
    font-size: 18px;
    outline: none;
}
.lente{
    border-radius: 50px;
    background-color: white;
    border: none;
    width: 45px;
    height: 40px;
    box-shadow: 1px 2px 4px 2px rgb(188, 188, 188);
    position: absolute;
    right: 11rem;
    top: 1.5rem;
}
.lente:hover{
    cursor: pointer;
}
.news{
    position: absolute;
    right: 6rem;
    top: 1.7rem;
    border: none;
    background-color: rgb(230, 230, 230);
}
.users{
    position: absolute;
    right: 2.5rem;
    top: 1.7rem;
    border: none;
    background-color: rgb(230, 230, 230);
}
.news:hover,
.users:hover{
    cursor: pointer;
}
.data-information{
    position: absolute;
    top: 8rem;
    left: 2%;
    width: 96%;
    background-color: white;
    display: flex;
    height: 170px;
    box-shadow: 1px 2px 4px 2px rgb(188, 188, 188);
}
.data-information img{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 3rem;
}
.data-information-text p{
    margin-top: -0.5rem;
}
.check-information{
    margin-top: 0.8rem;
    position: absolute;
    right: 28rem;
}
.check-information p{
    margin-top: -1.8rem;
}
.information-tools{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}
.first-row button,
.second-row button{
    background-color: rgb(53, 107, 157);
    border: none;
    width: 90px;
    height: 60px;
    margin-right: -0.3rem;
    border: 0.01px solid rgba(76, 76, 76, 0.2);
}
.first-row button img,
.second-row button img{
    margin-top: 0rem;
}
.first-row button:hover,
.second-row button:hover{
    cursor: pointer;
}
.Dati-Users-Div{
    position: absolute;
    top: 20rem;
    left: 2%;
    width: 96%;
    background-color: rgb(211, 211, 211);
    height: 100%;
    box-shadow: 1px 2px 4px 2px rgb(188, 188, 188);
}
.Dati-Users-tools{
    background-color: white;
    height: 60px;
}
.no-active{
    width: 100px;
    border: none;
    height: 60px;
    margin-left: -0.2rem;
    background-color: white;
}
.no-active:hover{
    cursor: pointer;
}
.active{
    border: none;
    width: 100px;
    height: 60px;
    margin-left: -0.2rem;
    background-color: rgb(53, 107, 157);
}
.active:hover{
    cursor: pointer;
}
.no-active-last{
    width: 140px;
    border: none;
    height: 60px;
    margin-left: -0.2rem;
    background-color: white;
}
.no-active-last:hover{
    cursor: pointer;
}
.Dati-Users-content{
    width: 96%;
    margin-left: 2%;
    background-color: white;
    height: 400px;
    margin-top: 40px;
    box-shadow: 1px 2px 4px 2px rgb(188, 188, 188);
}
.Titolo{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}
.titolo-ana{
    color: rgb(149, 149, 149);
}
.Titolo img{
    margin-top: 1rem;
    margin-left: 1rem;
}
.titolo-info{
    display: flex;
    margin-left: 70rem;
    color: rgb(64, 64, 64);
    font-size: 10px;
    margin-top: 1.5rem;

}
.titolo-info button{
    background-color:rgb(53, 107, 157);
    width: 65px;
    height: 30px;
    color: white;
    border: none;
    margin-top: 0.5rem;
    border-radius: 3px;
    margin-left: 1rem;
}
.titolo-info button:hover{
    cursor: pointer;
}
.Dati-user-first-row,
.Dati-user-second-row,
.Dati-user-third-row,
.Dati-user-four-row{
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
}
.Dati-user-first-row div,
.Dati-user-second-row div,
.Dati-user-third-row div,
.Dati-user-four-row div{
    display: flex;
}
.Dati-user-first-row input,
.Dati-user-second-row input,
.Dati-user-third-row input,
.Dati-user-four-row input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(149, 149, 149, 0.4);
}
.Nome,
.Cognome,
.C-fiscale,
.Data-nascita,
.Sesso,
.Stato-nascita,
.prov-nascita,
.Luogo-nascita,
.Professione,
.Identificativo,
.Pec{
    margin-left: 1rem;
}
.Cognome{
    margin-left: 1rem;
}
.dati-title-content{
    margin-right: 2rem;
    color: rgb(149, 149, 149);
}
.Nome input,
.Cognome input{
    width: 700px;
    margin-right: 1rem;
    font-size: 18px;
}
.C-fiscale input,
.Data-nascita input,
.Sesso input{
    width: 418px;
    margin-right: 1rem;
    font-size: 18px;
}
.Stato-nascita input,
.prov-nascita input,
.Luogo-nascita input{
    width: 374px;
    margin-right: 1rem;
    font-size: 18px;
}
.Professione input,
.Identificativo input,
.Pec input{
    width: 411px;
    margin-right: 1rem;
    font-size: 18px;
}
.Indirizzo{
    width: 96%;
    margin-left: 2%;
    background-color: white;
    height: 200px;
    margin-top: 40px;
    box-shadow: 1px 2px 4px 2px rgb(188, 188, 188);
}
.Indirizzo h1{
    color: rgb(149, 149, 149);
    transform: translate( 1%, 50%);
}
.Indirizzo div{
    margin-left: 1.5rem;
}
.Città input,
.Cap input,
.Provincia input,
.Nazione input{
    width: 296px;
    margin-right: 1rem;
    font-size: 18px;
}
.indirizzo input{
    width: 1530px;
    margin-right: 1rem;
    font-size: 18px;
}
@media screen and (min-width: 1300px) and (max-width: 1890px) {
    .Nome input,
    .Cognome input{
        width: 550px;
        margin-right: 1rem;
        font-size: 15px;
    }
    .C-fiscale input,
    .Data-nascita input,
    .Sesso input{
        width: 318px;
        margin-right: 1rem;
        font-size: 15px;
    }
    .Stato-nascita input,
    .prov-nascita input,
    .Luogo-nascita input{
        width: 274px;
        margin-right: 1rem;
        font-size: 15px;
    }

    .Professione input,
    .Identificativo input,
    .Pec input{
        width: 311px;
        margin-right: 1rem;
        font-size: 15px;
    }
    .Città input,
    .Cap input,
    .Provincia input,
    .Nazione input{
        width: 220px;
        margin-right: 1rem;
        font-size: 18px;
    }
    .indirizzo input{
        width: 1225px;
        margin-right: 1rem;
        font-size: 18px;
    }
    .titolo-info{
        margin-left: 50rem;
    }
}

@media only screen and (max-width: 767px) {
    .tools-bar .menu{
        margin-left: -1.7rem;
        width: 30px;
        height: 30px;
    }
    .tools-bar .menu a img{
        width: 20px;
        height: 20px;
    }
    .tools-bar .title{
        margin-left: -3.5rem;
        font-size: 15px;
        width: 50px;
        margin-top: 0.5rem;
    }
    .tools-bar .search{
        width: 130px;
        font-size: 15px;
        left: 7rem;
        margin-top: -0.2rem;
    }
    .tools-bar .lente{
        width: 30px;
        height: 30px;
        margin-top: 0.5rem;
        left: 15rem;
    }
    .tools-bar .lente img{
        width: 20px;
        height: 20px;
    }
    .tools-bar .news{
        width: 30px;
        height: 30px;
        right: 3rem;
    }
    .tools-bar .users{
        width: 30px;
        height: 30px;
        right: 1rem;
    }
    .data-information{
        top: 6rem;
        height: 220px;
    }
    .data-information img{
        width: 150px;
        height: 75px;
        margin-left: 1rem;
    }
    .data-information-text{
        font-size: 13px;
        margin-left: -1rem;
    }
    .check-information{
        top: 9rem;
        left: 1rem;
        display: flex;
        font-size: 8px;
    }
    .check-information p{
        margin-left: -0.5rem;
    }
    .check-information img{
        width: 10px;
        height: 10px;
    }
    .information-tools{
        right: 1rem;
        top: 8rem;
    }
    .information-tools .first-row button img,
    .information-tools .second-row button img{
        width: 25px;
        height: 25px;
        margin-left: 0rem;
    }
    .information-tools .first-row button,
    .information-tools .second-row button
    {
        width: 45px;
        height: 35px;
    }
    .information-tools .first-row{
        width: 90px;
    }
    .Dati-Users-Div{
        top: 21rem;
    }
    .no-active img,
    .active img,
    .no-active-last img{
        width: 25px;
        height: 25px;
    }
    .no-active p,
    .active p,
    .no-active-last p{
        font-size: 8px;
    }
    .no-active,
    .active,
    .no-active-last{
        width: 55px;
        height: 60px;
    }
    .no-active-last{
        height: 55px;
    }
    .Dati-Users-content{
        margin-top: 1.5rem;
    }
    .titolo-ana{
        font-size: 18px;
    }
    .Titolo img{
        width: 30px;
        height: 30px;
    }
    .titolo-info{
        margin-left: 4rem;
        margin-top: 0.3rem;
    }
    .titolo-info h1{
        font-size: 15px;
    }
    .titolo-info button{
        width: 50px;
        height: 30px;
        right: 2rem;
    }

    .Dati-user-first-row,
    .Dati-user-second-row,
    .Dati-user-third-row,
    .Dati-user-four-row{
        display: inline-block;
        font-size: 15px;
    }
    .Dati-Users-content{
        height: 720px;
    }
    .Dati-user-first-row input,
    .Dati-user-second-row input,
    .Dati-user-third-row input,
    .Dati-user-four-row input{
        width: 60%;
        font-size: 15px;
    }
    .Dati-user-first-row div p,
    .Dati-user-second-row div p,
    .Dati-user-third-row div p,
    .Dati-user-four-row div p{
        width: 40%;
        margin-left: -1rem;
    }

    .Indirizzo h1{
        font-size: 18px;
        margin-left: 1rem;
    }

    .Indirizzo{
        height: 340px;
    }
    .Dati-Users-Div{
        height: 1200px;
    }
}